.welcomeimage {
    align-content: center;
    background-image: url("http://double-a-shipping.com/front/images/img-block/vessel-g-0.png");
  display:flex;    
  align-items:stretch;
  height:340px;
    vertical-align: center;
}
.section-header #logo:hover {
    cursor: pointer;
  }
  
  .section-header .language-toggle .item {
    float: left;
    margin: 0px 7px 0 7px;
    padding: 1px 3px 1px 3px;
    border: 2px solid #D7CCC8;
    border-radius: 3px;
  }
  .section-header .language-toggle .item:hover{
    -moz-box-shadow:0 0 8px #795548; -webkit-box-shadow:0 0 8px #795548; box-shadow:0 0 8px #795548;
  }
  .section-header .language-toggle .item a{
    color: #d2bbba;
    text-decoration: none;
  }
  .section-header .language-toggle .item a span:hover {
    cursor: pointer;
  
  }
  .section-header .language-toggle .item.active span {
    color: #EF5350;
  
  }
  .text-right {
    text-align: right;
  }

html{
    scroll-behavior: smooth;
}

.container{padding:0%;}

.section-header .language-toggle .item.active span {
    color: #EF5350;
  
  }
 
  .section-header nav ul li a {
    font-size: 14px;
    color: #795548;
    text-decoration: none;
    font-family: Roboto-condensedC;
    letter-spacing: 1px;
    text-align: right;
    padding: 0;
  }
  .section-header nav ul li a:hover {
    cursor: pointer;
    color: #BCAAA4;
  }
  .navbar-nav{
    padding-top: 50px;
  }
.welcomeimage .title-1{
 
  margin-top: 20px;
  margin-left: 20px;
  
  
}
  .welcomeimage .title-1 p {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    font-family: Lucida-Grande-BoldC;
  }
  .welcomeimage .title-1 span {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: Lucida-Grande-BoldC;
  }
  .section-vessel .vessel-block .description .list {
    color: #9d7f7f;
    font-family: Lucida-Grande-BoldC;
    font-size: 13px;
  }
  .section-vessel .vessel-block .description .text-block {
    padding: 20px 0 0 25px;
    color: #9d7f7f;
    font-size: 14px;
  }
  .section-vessel .vessel-block .description .text-block ul {
    padding: 0;
    margin: 30px 0 0 0;
  }
  .section-vessel .vessel-block .description table {
    color: #9d7f7f;
    font-size: 14px;
    margin-top: 10px;
  }
  .section-vessel .vessel-block .description table {
    border-bottom: 1px solid #ccafaf;
    margin-top: 25px;
  }
  .section-vessel .vessel-block .description table ul {
    padding: 0;
    margin: 10px 0 0 0;
  }
  .section-vessel .vessel-block .description table ul li {
    padding: 0;
    margin: 0;
    font-size: 13px;
  }
  .section-vessel .vessel-block .description .passenger-block {
    color: #9d7f7f;
   
    border-bottom: 1px dotted #9d7f7f;
   
  }
  .section-vessel .vessel-block .description .passenger-block .item {
    
  }
  .section-vessel .vessel-block .description .passenger-block .item ul {
    padding: 0;
  }
  .section-vessel .vessel-block .description .passenger-block p.title {
    font-family: Lucida-Grande-BoldC;
    color: #9d7f7f;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
  }
  .section-vessel .vessel-block .description .passenger-block p.title span {
    font-family: Lucida-GrandeC;
    font-size: 13px;
  }
  .section-vessel .vessel-block .description .passenger-block .row{
      
    margin-right: 0; 
     margin-left: 0;
  }
  .section-vessel .vessel-block .description .vessel-gallery .gallery-row {
    float: center;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-1 {
    min-width: 260px;
    min-height: 260px;
    background-color: blue;
    background-size: cover;
    box-sizing: border-box;
    border-right: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-2 {
    min-width: 260px;
    min-height: 260px;
    background-color: white;
    background-size: cover;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-3 {
    min-width: 260px;
    min-height: 260px;
    background-color: teal;
    background-size: cover;
    box-sizing: border-box;
    border-left: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-4 {
    min-width: 260px;
    min-height: 260px;
    background-color:deeppink;
    background-size: cover;
    box-sizing: border-box;
    border-right: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-5 {
    min-width: 260px;
    min-height: 260px;
    background-color:darkslateblue;
    background-size: cover;
    box-sizing: border-box;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-6 {
    min-width: 260px;
    min-height: 260px;
    background-color:cadetblue;
    background-size: cover;
    box-sizing: border-box;
    border-left: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-7 {
    min-width: 260px;
    min-height: 260px;
    background-color:bisque;
    background-size: cover;
    box-sizing: border-box;
    border-right: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-8 {
    min-width: 260px;
    min-height: 260px;
    background-color:antiquewhite;
    background-size: cover;
    box-sizing: border-box;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-9 {
    min-width: 260px;
    min-height: 260px;
    background-color:#EF5350;
    background-size: cover;
    box-sizing: border-box;
    border-left: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-10 {
    min-width: 260px;
    min-height: 260px;
    background-color:#795548;
    background-size: cover;
    box-sizing: border-box;
    border-right: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-11 {
    min-width: 260px;
    min-height: 260px;
    background-color:#337ab7;
    background-size: cover;
    box-sizing: border-box;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-12 {
    min-width: 260px;
    min-height: 260px;
    background-color:yellowgreen;
    background-size: cover;
    box-sizing: border-box;
    border-left: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-13 {
    min-width: 260px;
    min-height: 260px;
    background-color:yellow;
    background-size: cover;
    box-sizing: border-box;
    border-right: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-14 {
    min-width: 260px;
    min-height: 260px;
    background-color:wheat;
    background-size: cover;
    box-sizing: border-box;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-15 {
    min-width: 260px;
    min-height: 260px;
    background-color:violet;
    background-size: cover;
    box-sizing: border-box;
    border-left: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-16 {
    min-width: 260px;
    min-height: 260px;
    background-color:turquoise;
    background-size: cover;
    box-sizing: border-box;
    border-right: 2px solid #fff;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-17 {
    min-width: 260px;
    min-height: 260px;
    background-color: tomato;
    background-size: cover;
    box-sizing: border-box;
  }
  .section-vessel .vessel-block .description .vessel-gallery .item-18 {
    min-width: 260px;
    min-height: 260px;
    background-color: thistle;
    background-size: cover;
    box-sizing: border-box;
    border-left: 2px solid #fff;
  }
  .section-contacts .container {
    min-width: 650px;
    border-top: 2px solid #BB7472;
  }
  .section-contacts .contacts-block {
    padding-top: 70px;
    color: #9d7f7f;
  }
  .section-contacts .contacts-block .item-main p {
    font-family: Lucida-Grande-BoldC;
    font-size: 16px;
    color: #9d7f7f;
    margin: 0;
  }
  .section-contacts .contacts-block .item h4 {
    margin-top: 45px;
    font-family: Lucida-Grande-BoldC;
  }
  .section-contacts .contacts-block .item {
    margin-top: 15px;
  }
  .section-contacts .contacts-block .item p {
    font-family: Lucida-Grande-BoldC;
    margin: 0;
  }
  .section-vessel  ul li {
    font-size: 14px;
    color: #795548;
    text-decoration: none;
    font-family: Roboto-condensedC;
    letter-spacing: 1px;
    list-style: none;
  }
  .section-vessel a {
    color: #337ab7;
    text-decoration: none;
}
    .section-vessel .vessel-block .description .list {
        color: #9d7f7f;
        font-family: Lucida-Grande-BoldC;
        font-size: 13px;}

     
          .section-vessel .vessel-block .description .passenger-block p.description {
            
            color: #9d7f7f;
            font-size: 14px;
            margin: 0;
          }

          .section-footer .footer {
            margin-top: 55px;
            background: #795548;
            height: 170px;
            
    padding-right: 0;
    padding-left: 0;
          }
          .section-footer .footer .contact {
            padding-bottom: 15px;
            border-bottom: 2px solid #fff;
          }
          .section-footer .footer .contact p {
            font-size: 19px;
            color: #fff;
            font-famyli: Roboto-condensedC;
            margin: 30px 0 0 15px;
          }
          .section-footer .footer .contact span {
            display: block;
            margin: 7px 0 0 15px;
            color: #fff;
            font-size: 12px;
          }
          .section-footer .light {
            background: #fff;
          }
          .section-footer .light .contact {
            border-bottom: 2px solid #795548;
          }
          .section-footer .light .contact p,
          .section-footer .light .contact span {
            color: #795548;
            margin-left: 0;
            font-family: Lucida-Grande-BoldC;
          }
          img{
            width:100%;
          }
          body {
            margin: 0;
            width:100%;
          }
          #foto{
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .passenger-block img{
            min-width: 260px;
    min-height: 260px;
          }